<HTML>

<HEAD>
<TITLE>GeoComputation</TITLE>
<LINK rel="stylesheet" href="graphics/style.css" type="text/css">
</HEAD>

<BODY>
<CENTER>
<TABLE width=550>
<TR>
<TD colspan=2>

<TABLE width=550 cellspacing=0 cellpadding=0>
<TR>
<TD align=right><IMG  src="graphics/word.gif"></TD> 
<TD ROWSPAN=2><IMG src="graphics/globe.gif"></TD></TR>
<tr><td valign=top><IMG src="graphics/cards.gif"></TD></TR>
<TR>
<TD colspan=2>GeoComputation Conference Proceedings</TD>
</TR>
</TABLE>

</TD>
</TR>

<TR>
<TD colspan=2>
<P>&nbsp;</P>
<H4>Proceedings of the 12th International Conference on GeoComputation<BR>
Wuhan University,<BR>
China<BR>
23 - 25 May 2013</H4>
<P>
Sponsored by Name, Name, Name.
<P>
<STRONG>The following papers were first published on CD-ROM. (alter as appropriate - this is 
just so people have some idea how to reference this; change as you feel)
Produced by: Editors names. Publisher: "GeoComputation CD-ROM".
ISBN 0-9533477-2-9</STRONG>
</P><P>&nbsp;</P>
</TD>
</TR>


<tr><td colspan=2><H2>Papers</H2></td> </tr>


<tr><td valign=top><A HREF="abstracts/example.html">[abstract]</A><br></TD>
<TD><A HREF="talks/author.pdf">An example talk, could be a pdf or ppt or html etc.</A><br><I>AuthorFamilyName, A.A., CoauthorFamilyName, B.B. and EtcFamilyName,I. </I><P>&nbsp;</P></TD></TR>

<tr><td valign=top><A HREF="abstracts/author.html">[abstract]</A><br></TD>
<TD><A HREF="talks/author.pdf">Title</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

<tr><td valign=top><A HREF="abstracts/author.html">[abstract]</A><br></TD>
<TD><A HREF="talks/author.pdf">Title</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

<tr><td valign=top>&nbsp;<br></TD>
<TD><A HREF="talks/author.pdf">Example if there is no separate abstract</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

<tr><td valign=top>&nbsp;<br></TD>
<TD><A HREF="talks/author.pdf">Title</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

<tr><td valign=top>&nbsp;<br></TD>
<TD><A HREF="talks/author.pdf">Title</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

<tr><td colspan=2><H2>Posters</H2></td> </tr>

<tr><td valign=top><A HREF="abstracts/author.html">[abstract]</A><br></TD>
<TD><A HREF="talks/author.pdf">Title</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

<tr><td valign=top><A HREF="abstracts/author.html">[abstract]</A><br></TD>
<TD><A HREF="talks/author.pdf">Title</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

<tr><td valign=top><A HREF="abstracts/author.html">[abstract]</A><br></TD>
<TD><A HREF="talks/author.pdf">Title</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

<tr><td valign=top>&nbsp;<br></TD>
<TD><A HREF="talks/author.pdf">Title</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

<tr><td valign=top>&nbsp;<br></TD>
<TD><A HREF="talks/author.pdf">Title</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

<tr><td valign=top>&nbsp;<br></TD>
<TD><A HREF="talks/author.pdf">Title</A><br><I>Authors</I><P>&nbsp;</P></TD></TR>

</TABLE>

</CENTER>

</BODY>

